*
 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 62.5%; /* 16px * 62.5% = 10px = 1rem */;
} 

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  background-color: darkslategrey;
}

.container {
  width: 80%;
  height: 90vh;
}

.slider {
  display: grid;
  grid-template-areas: 
    "slides slides"
    "labels controls";
  grid-template-columns: 1fr 25%;
  grid-template-rows: 1fr 15%;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

[type="radio"] {
  display: none;
}

.slides {
  grid-area: slides;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

.labels {
  grid-area: labels;
  display: flex;
  overflow: hidden;
}

.slide--1 {
  flex: 0;
  background-color: brown;
}

.slide--2 {
  flex: 0;
  background-color: chartreuse;
}

.slide--3 {
  flex: 0;
  background-color: cornflowerblue;
}

.slide--4 {
  flex: 0;
  background-color: darkgreen;
}

[type="radio"]:nth-of-type(1):checked ~ .slides > .slide--1 {
  flex: 100%;
}

[type="radio"]:nth-of-type(2):checked ~ .slides > .slide--2 {
  flex: 100%;
}

[type="radio"]:nth-of-type(3):checked ~ .slides > .slide--3 {
  flex: 100%;
}

[type="radio"]:nth-of-type(4):checked ~ .slides > .slide--4 {
  flex: 100%;
}

.label {
  display: none;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}

.label--1,
.label--2,
.label--3,
.label--4 {
  flex: 0;
}

[type="radio"]:nth-of-type(1):checked ~ .labels > .label--1 {
  flex: 100%;
  display: block;
  animation: scale 1s ease-in-out;
}

[type="radio"]:nth-of-type(2):checked ~ .labels > .label--2 {
  flex: 100%;
  display: block;
  animation: scale 1s ease-in-out;
}

[type="radio"]:nth-of-type(3):checked ~ .labels > .label--3 {
  flex: 100%;
  display: block;
  animation: scale 1s ease-in-out;
}

[type="radio"]:nth-of-type(4):checked ~ .labels > .label--4 {
  flex: 100%;
  display: block;
  animation: scale 1s ease-in-out;
}


.controls {
  grid-area: controls;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.control {
  display: block;
  height: 3rem;
  width: 2rem;
  cursor: pointer;
}

.inner--control {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: aqua;
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}